extends base.pug


block content
    h4 Change Title of video
    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(value="Save",type="submit") 
        //- input의 name은 필수, value는 input안 디폴트값