extends ../base


block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="Username", name="username", type="text", required)
        input(placeholder="Password", name="password", type="password", required)
        input(type="submit", value="Login")
        br
        a(href="/users/github/start") Continue with Github &rarr;
        //- 깃헙에서 받은 클라이언트 id와 회원가입 불가능하게 파라미터 등록
    hr
    div
        span Don't have an account? 
        a(href="/join") Create one now &rarr; 